<script type="text/javascript">
$(function(){
  $('#save-svg').click(function(){
    JigExporter.export(designer.paper, designer.canvas, JigExporter.SVG);
   });
   $('#save-json').click(function(){
    JigExporter.export(designer.paper, designer.canvas, JigExporter.JSON);
   });
  $('#save-png').click(function(){
    JigExporter.export(designer.paper, designer.canvas, JigExporter.PNG);
   });
  $('#print').click(function(){
    window.location = "/jig/generator";
   });
});
</script>
<footer id="import-export">
  <%= button_tag :id=> "coil-button", :class => "btn btn-danger btn-sm" do %>
    <span class="glyphicon glyphicon-upload"> </span> Upload Design
  <% end %>
  <div class="btn-group">
   <%= button_tag :id=> "save-svg", :class => "btn btn-success btn-sm" do %>
    <span class="glyphicon glyphicon-save"> </span>  SVG
  <% end %>
  <%= button_tag :id=> "save-json", :class => "btn btn-success btn-sm" do %>
    <span class="glyphicon glyphicon-save"> </span>  JSON
  <% end %>
   <%= button_tag :id=> "save-png", :class => "btn btn-success btn-sm" do %>
    <span class="glyphicon glyphicon-camera"> </span>  PNG
  <% end %>
</div>
  <%= button_tag :id=> "print", :class => "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-print"> </span> Print
  <% end %>
</footer>