<style type="text/css">
input{
  text-align: left;
}
</style>
<div id="sidebar" class="shadowed col-xs-4">
    <div id="main-title" class="title shadowed row">
      <h4 class="col-xs-12 shadowed-text"> Form Design </h4>
    </div>
    <div id="stat-box">
     
      <span class="glyphicon glyphicon-print"></span> <span id="print-time"> 4 hr 30 min </span>&nbsp;
      | &nbsp; <span class="glyphicon glyphicon-time"></span> <span id="make-time"> 30 min </span>&nbsp;
      | &nbsp; <span class="glyphicon glyphicon-paperclip"></span> <span id="bom-length"> 1.5 m </span>
      <%= button_tag :id=>"calculate-stats", :class=> "pull-right btn-xs btn btn-danger" do %>
        <span class="glyphicon glyphicon-repeat">
      <% end %>
     
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-file" id="basic-addon1"></span>
      <input type="text" placeholder="Enter a filename" id="filename" class="form-control"/>
    </div>

    <div id="wirepath_controller">

      <label> Gauge: </label> 
      <select id="materials" class="form-control">
        <option data-gauge="17" data-color="#999" > None </option>
        <option data-gauge="14" data-color="#ADB2BD" > 14AWG - ALUMINUM </option>
        <option data-gauge="16" data-color="#CDAD00" > 16AWG - GOLD </option>
        <option data-gauge="18" data-color="#C0C0C0" > 18AWG - SILVER </option>
        <option data-gauge="20" data-color="#C0C0C0" > 20AWG - SILVER </option>
        <option data-gauge="20" data-color="#CDAD00" > 20AWG - GOLD </option>
        <option data-gauge="24" data-color="#ADB2BD" > 24AWG - SILVER </option>
        <option data-gauge="28" data-color="#CDAD00" > 28AWG - GOLD </option>
        <option data-gauge="32" data-color="#B5A642" > 32AWG - BRASS </option>
      </select>  
      
      <div class="row">
      <label class="col-xs-12"> Termination Points </label>
      
      <div class="col-xs-6">
        <select id="termination-a" class="form-control">
        <option value="0"> None </option>
        <option value="1"> Extend </option>
        <option value="2"> Spiral </option>
        <option value="3"> Coil Loop </option>
        <option value="4"> Simple Loop </option>
       </select>  
      </div>

      <div class="col-xs-6">
       <select id="termination-b" class="form-control">
        <option value="0"> None </option>
        <option value="1"> Extend </option>
        <option value="2"> Spiral </option>
        <option value="3"> Coil Loop </option>
        <option value="4"> Simple Loop </option>
       </select>  
      </div>
    </div>
    <label> Weight: </label> 
       <select id="weight-profile" class="form-control">
        <option value="0"> None </option>
        <option value="1"> Uniform </option>
        <option value="2"> Tapered </option>
        <option value="3"> Unitapered</option>
       </select>  
    </div>
    <footer>
      <%= button_tag :id=> "coil-button", :class => "btn btn-danger btn-sm" do %>
        <span class="glyphicon glyphicon-upload"> </span> Upload Design
      <% end %>
       <%= button_tag :id=> "save-svg", :class => "btn btn-success btn-sm" do %>
        <span class="glyphicon glyphicon-save"> </span> Save SVG
      <% end %>
      <%= button_tag :id=> "save-json", :class => "btn btn-success btn-sm" do %>
        <span class="glyphicon glyphicon-save"> </span> Save JSON
      <% end %>
       <%= button_tag :id=> "print", :class => "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-print"> </span> Print
      <% end %>
    </footer>
</div>
</div>