<div class="container">
<div id="form-errors" class="alert alert-danger" role="alert"></div>
<div id="form-success" class="alert alert-success" role="alert"></div>
<div class="row">
	<div class="col-xs-3">
			<div class="reg-height">
				<h4> Fl.UI Generator </h4>
				<%= image_tag "/images/script.png", :width => "30%" %>
				<p> Generate laser-cut ready files from a single path. </p>
			</div>
	</div>
	<div class="col-sm-offset-3 col-xs-6">

		

			
		<form class="form-horizontal" role="form">
		<!-- BEGIN PATH -->
		
		<div class="form-group">
			<%= label_tag "svg_path","SVG Path", :class => "col-xs-4 control-label" %>

		    <div class="col-xs-4">
		   	  <%= file_field_tag 'bold_d', nil, value: "3.00", class: "form-control"%>
		    </div>  
		    <div class="col-xs-4">
		      <%= select("flui", "bolt_d_unit", [[ "mm"], ["in"]], {}, :class=> "form-control") %>
		    </div>

		 </div>
 
	    <!-- END PATH -->
		<!-- BEGIN BOLT DIAM -->

		<div class="form-group">
			<%= label_tag "bolt_d","Bolt Diam.", :class => "col-xs-4 control-label" %>

		    <div class="col-xs-4">
		   	  <%= number_field_tag 'bold_d', nil, value: "3.00", class: "form-control"%>
		    </div>  
		    <div class="col-xs-4">
		      <%= select("flui", "bolt_d_unit", [[ "mm"], ["in"]], {}, :class=> "form-control") %>
		    </div>

		 </div>
 
	    <!-- END BOLT DIAM -->
   	    <!-- BEGIN BOLT DIAM -->
		<div class="form-group">

			<%= label_tag "nut_h","Nut Height", :class => "col-xs-4 control-label" %>

		    <div class="col-xs-4">
		   	  <%= number_field_tag 'nut_h', nil, value: "3.00", class: "form-control"%>
		    </div>  
		    <div class="col-xs-4">
		      <%= select("flui", "nut_h_unit", [[ "mm"], ["in"]], {}, :class=> "form-control") %>
		    </div>

		  </div>
		  <!-- END BOLT DIAM -->

		 <!-- BEGIN TRIM WIDTH -->
		<div class="form-group">

			<%= label_tag "trim_w","Trim Width", :class => "col-xs-4 control-label" %>

		    <div class="col-xs-4">
		   	  <%= number_field_tag 'trim_w', nil, value: "6.00", class: "form-control"%>
		   	  <p> Must be at least 2 * bolt diameter. </p>
		    </div>  
		    <div class="col-xs-4">
		      <%= select("flui", "trim_w_unit", [[ "mm"], ["in"]], {}, :class=> "form-control") %>
		    </div>

		  </div>
		  <!-- END TRIM WIDTH -->

		  <!-- BEGIN BOLT DIAM -->
			<div class="form-group">

			<%= label_tag "mode","Mode", :class => "col-xs-4 control-label" %>

		    <div class="col-xs-8">
		   	   <%= select("flui", "mode", [[ "Pretty Graphic"], ["Laser-Cut Ready"]], {}, :class=> "form-control") %>
		    </div>

		  </div>
		  <!-- END BOLT DIAM -->
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-primary">Generate</button>
		    </div>
		  </div>
		</form>
	</div>
</div>