

<style>
.toolbox .btn-group{
  margin-right: 5px;
}
#calibration-toolbox {
  position: absolute;
  top: 146px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  font-family: "museo-sans";
}
  #calibration-toolbox #sheet-resistance{
    text-align: left;
  }
#artwork-toolbox {
  position: absolute;
  bottom: 220px;
  right: 0px;
  width: 98px;
}
#export-toolbox {
  position: absolute;
  top: 280px;
  right: 5px;
  /*calc(34% + 98px + 10px);*/
  width: 120px;
}
#canvas-toolbox {
  position: absolute;
  top: 89px;
  left: 0px;
  /*calc(34% + 98px + 10px);*/
  width: 310px;
}
#circuit-toolbox{
  position: absolute;
  top: 89px;
  /*left: 10px;*/
  /*left: 310px;*/
  right: 0px;
  width: 350px;
}
.btn-ellustrator{
  color: #FFF;
  background: #5d5d5d;
}
.btn-ellustrator:not(.btn-xs), #run-tool, #ohm-tool{
  height: 36px;
  overflow: hidden;
}
.btn-ellustrator:hover{
  color: #DDD;
  text-decoration: none;
}
.btn-ellustrator:visited{
  color: #FFF;
  text-decoration: none;
}
.btn-ellustrator:focus{
  color: #FFF;
  text-decoration: none;
}

.toolbox{
  height: 56px;
  border-bottom: #999 1px solid;
  background: #484848;
  border-left: 3px solid #5d5d5d;
  border-right: 3px solid #5d5d5d;
  padding: 4px;
  padding-top: 14px;
  z-index: 200; 
  font-family: "Glyphter";
  color: white;
}
  .toolbox label:not(.info){
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    color: #ddddd;
    font-size: 6.43pt;
    margin: 2px;
    margin-top: -12px;

    position: absolute;
  }
  .info{
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    color: #ddddd;
    font-size: 6.43pt;
    margin: 2px;
    margin-top: -12px;
    cursor: pointer;
  }
</style> 

<div id="artwork-toolbox" class="toolbox shadowed">
   <label class="text-shadowed"> ARTWORK </label>
   <div class="btn-group" role="group">
     
        <%= button_tag :id=>"lock", :class=>"btn btn-md btn-ellustrator" do %>
          <span class="icon-lock2"></span>
        <% end %>
         <%= button_tag :id=>"ghost", :class=>"btn btn-md btn-ellustrator" do %>
          <span class="icon-ghost"></span>
        <% end %>
   </div>
</div>


<div id="calibration-toolbox" class="toolbox shadowed">
   <div class="row">
   <div class="col-xs-8">
      <label class="text-shadowed"> CALIBRATE MATERIAL SHEET RESISTANCE</label>
    </div>
    <div class="col-xs-4">
     <label class="info pull-right text-shadowed"> 
      <!-- Button trigger modal -->
      <span id="calibration-info" data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-info-sign" title="How do I measure sheet resistance?"></span>
     </label>
   </div>
   </div>
   <!-- <div class="col-xs-12"> -->
   <!-- <div class="input-group"> -->
    <form id="sheet-resistance" class="input-group">
      <input type="text" class="form-control" placeholder="Measure Ω of 0.25 inch square.">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" type="button">SAVE</button>
      </span>
    </form>
    <!-- /input-group -->
</div>



  <!-- SELECTION TOOLS -->
   
  <div id="canvas-toolbox" class="toolbox shadowed">
   <label class="text-shadowed"> CANVAS </label>
       <div class="btn-group" role="group" aria-label="pen-tools">
      <%= button_tag :id => "transform-tool", :class => "btn btn-ellustrator" do %>
        <span class="icon-primary-cursor"></span>
      <% end %>
     
      <%= button_tag :id => "pan-tool", :class => "btn btn-ellustrator" do %>
        <span class="glyphicon glyphicon-hand-up"></span>
      <% end %>
      <%= button_tag :id => "canvas-pan-tool", :class => "btn btn-ellustrator" do %>
        <span class="icon-pan"></span>
      <% end %>   
    </div>


   <!-- ZOOM TOOLS -->
      <div class="btn-group" role="group" id="zoom-ui" aria-label="zoom-tools">
       
      
        <%= button_tag :id=>"zoom-out", :class=>"btn btn-md btn-ellustrator" do %>
          <span class="glyphicon glyphicon-zoom-out"></span>
        <% end %>

          <%= button_tag :id=>"scale", :class=>"btn btn-md btn-ellustrator" do %>
          <span class="glyphicon glyphicon-tree-conifer"></span>
        <% end %>
        
        <%= button_tag :id=>"zoom-in", :class=>"btn btn-md btn-ellustrator" do %>
            <span class="glyphicon glyphicon-zoom-in"></span>
        <% end %>
      
      </div>
      <div class="btn-group pull-right" role="group">
        <%= button_tag :id=>"clear-history", :class=>"btn btn-md btn-ellustrator" do %>
          <span class="glyphicon glyphicon-ban-circle"></span>
        <% end %>
      </div>
      <!-- END ZOOM TOOLS -->

</div>

<div id="circuit-toolbox" class="toolbox shadowed">
     <label> CIRCUIT LAYER </label>
    
    <!-- PATH TOOLS -->
      <div class="btn-group" role="group" aria-label="pen-tools">
        <%= button_tag :id => "path-tool", :class => "btn btn-ellustrator" do %>
        <span class="icon-path-draw"></span>
        <% end %>
        
    </div>
      <div class="btn-group" role="group" aria-label="pen-tools">
       <%= button_tag :id => "anchor-tool", :class => "btn btn-ellustrator" do %>
        <span class="icon-pen-tool"></span>
        <% end %>
        <%= button_tag :class => "btn btn-ellustrator" do %>
        <span class="icon-pen-add-tool"></span>
        <% end %>
        <%= button_tag :class => "btn btn-ellustrator" do %>
        <span class="icon-pen-remove-tool"></span>
        <% end %>
      </div>
      <% button_tag :class => "btn btn-ellustrator" do %>
        <span class="icon-noun_68342_cc"></span>
      <% end %>
      <% button_tag :class => "btn btn-ellustrator" do %>
        <span class="icon-bezier-select"></span>
      <% end %>
      <% button_tag :class => "btn btn-ellustrator" do %>
        <span class="icon-anchor-select"></span>
      <% end %>


      <div class="btn-group" role="group" aria-label="pen-tools">
       <%= button_tag :id => "run-tool", :class => "btn btn-primary" do %>
        <span class="glyphicon glyphicon glyphicon-record"></span>
        <% end %>
          <%= button_tag :id => "ohm-tool", :class => "btn btn-primary" do %>
        Ω
        <% end %>
         <%= button_tag :id => "fab-tool", :class => "btn btn-primary" do %>
        <span class="icon-inkwell"></span>
        <% end %>
        <%= button_tag :id => "debug-tool", :class => "btn btn-primary" do %>
        <span class="icon-debug"></span>
        <% end %>
      </div>      
      
  </div>   
