 <div id="toolbox" class="shadowed">
      <%= button_tag :id => "vector-tool", :class => "btn btn-default" do %>
        <span class="icon-primary-cursor"></span>
      <% end %>
      <%= button_tag :id => "transform-tool", :class => "btn btn-default" do %>
        <span class="icon-path-draw"></span>
      <% end %>

      <div class="btn-group" role="group" aria-label="pen-tools">
       <%= button_tag :id => "anchor-tool", :class => "btn btn-default" do %>
        <span class="icon-pen-tool"></span>
        <% end %>
        <%= button_tag :class => "btn btn-default" do %>
        <span class="icon-pen-add-tool"></span>
        <% end %>
        <%= button_tag :class => "btn btn-default" do %>
        <span class="icon-pen-remove-tool"></span>
        <% end %>
      </div>
      <% button_tag :class => "btn btn-default" do %>
        <span class="icon-noun_68342_cc"></span>
      <% end %>
      <% button_tag :class => "btn btn-default" do %>
        <span class="icon-bezier-select"></span>
      <% end %>
      <% button_tag :class => "btn btn-default" do %>
        <span class="icon-anchor-select"></span>
      <% end %>

      <div class="btn-group pull-right" role="group">
        <%= button_tag :id=>"revert", :class=>"btn btn-md btn-default" do %>
          <span class="glyphicon glyphicon-refresh"></span>
        <% end %>
         <%= button_tag :id=>"undo", :class=>"btn btn-md btn-default" do %>
          <span class="glyphicon glyphicon-arrow-left"></span>
        <% end %>
         <%= button_tag :id=>"save-progress", :class=>"btn btn-md btn-default" do %>
          <span class="glyphicon glyphicon-floppy-disk"></span>
        <% end %>
         <%= button_tag :id=>"redo", :class=>"btn btn-md btn-default" do %>
          <span class="glyphicon glyphicon-arrow-right"></span>
        <% end %>
         <%= button_tag :id=>"fast-forward", :class=>"btn btn-md btn-default" do %>
          <span class="glyphicon glyphicon-repeat"></span>
        <% end %>
      </div>


      <div class="btn-group pull-right" role="group" id="zoom-ui" aria-label="zoom-tools">
        <%= button_tag :id=>"zoom-in", :class=>"btn btn-md btn-default" do %>
          <span class="glyphicon glyphicon-zoom-in"></span>
      <% end %>
      
      <%= button_tag :id=>"zoom-out", :class=>"btn btn-md btn-default" do %>
        <span class="glyphicon glyphicon-zoom-out"></span>
      <% end %>
      </div>
  </div>    