<h3> Hybrid Ecologies Lab Web Apps </h3>

<br>
<div class="row">
	<!-- DESCRIPTION -->
	<%= link_to ellustrate_path do %>
	<div class="app-container col-xs-4 col-sm-3">
		<%= image_tag "/ellustrate-icon.png", :class=> "app img-responsive center-block", :width => "50%" %>
		<h3> Ellustrate </h3>
		<p><em> A Circuit Design Sketching Tool</em></p>
		<p>
			Make functional and aesthetic circuits with multiple conductive materials. 
		</p>
	</div>	
	<% end %>

	<%= link_to proxyprint_path do %>
	<div class="app-container col-xs-4 col-sm-3">
		<%= image_tag "/proxyprint_icon.png", :class=> "app img-responsive center-block", :width => "50%" %>
		<h3> ProxyPrint </h3>
		<p><em> A Wirewrap Design and Fab Tool</em></p>
		<p>
			Make custom jigs, stencils, and schematics for your jewelery designs. 
		</p>
	</div>	
	<% end %>

	<%= link_to light_as_material_path do %>
	<div class="app-container col-xs-4 col-sm-3">
		<%= image_tag "/lightasmaterial-icon.png", :class=> "app img-responsive center-block", :width => "50%" %>
		<h3> Light As Material </h3>
		<p><em> A Luminaire Design and Fab Tool</em></p>
		<p>
			Make custom optics to bend and shape light to custom luminaire designs. 
		</p>
	</div>	
	<% end %>

	<%= link_to criticon_path do %>
	<div class="app-container col-xs-4 col-sm-3">
		<%= image_tag "/lightasmaterial-icon.png", :class=> "app img-responsive center-block", :width => "50%" %>
		<h3> Criticon </h3>
		<p><em> Critique and project documentation tool </em></p>
		<p>
			A tool for studio-based instruction at scale.
		</p>
	</div>	
	<% end %>
</div>

<style type="text/css">
.app{
	border-radius: 10px;
}
a .app-container{
	color: black;
}
a .app-container:hover{
	color: #555;
}
a h3{
	font-size: 15pt;
	height: 40px;
}
a .app-container img:hover{
	-webkit-box-shadow: 1px 1px 24px 0px rgba(50, 50, 50, 0.54);

	-moz-box-shadow:    1px 1px 24px 0px rgba(50, 50, 50, 0.54);
	box-shadow:         1px 1px 24px 0px rgba(50, 50, 50, 0.54);
}
</style>