<p id="notice"><%= notice %></p>

<p>
  <strong>Design:</strong>
  <%= Design.find(@fab_guide.design_id).name %>
</p>

<p>
  <strong>Instruction order:</strong>
  <%= @fab_guide.instruction_order %>
</p>

<p>
  <strong>Main message:</strong>
  <%= @fab_guide.main_message %>
</p>

<p>
  <strong>Guide type:</strong>
  <%= @fab_guide.guide_type %>
</p>

<p>
  <strong>Highlight elements:</strong>
  <%= @fab_guide.highlight_elements %>
</p>

<p>
  <strong>Tips:</strong>
  <%= @fab_guide.tips %>
</p>

<p>
  <strong>Debug:</strong>
  <%= @fab_guide.debug_id.nil? ? "None" : Debug.find(@fab_guide.debug_id).name %>
</p>

<%= link_to 'Edit', edit_fab_guide_path(@fab_guide) %> |
<%= link_to 'Create Another', new_fab_guide_path(@fab_guide) %> |
<%= link_to 'Back', fab_guides_path %>
