<%= form_for(@debug) do |f| %>
  <% if @debug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@debug.errors.count, "error") %> prohibited this debug from being saved:</h2>

      <ul>
      <% @debug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class=> "form-control"%>
  </div>

  <div class="field">
    <%= f.label :steps %><br>
    <%= f.text_area :steps, :class=> "form-control", :style=>"height: 300px"%>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
